*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Castoro', serif;
    font-family: 'Rubik', sans-serif;
}

header{
	width: 100%;
	height: 100vh;
	background-image: linear-gradient(to right , #fff 60% , #c3f5ff 20%);
}

.navsec{
	width: 100%;
	height: 20vh;
	align-items: center;
	display: flex;
	justify-content: space-around;
	background-color: yellow;
	background-image: linear-gradient(to top , #fff 80% , #c3f5ff 20%);
}

.logo{
	width: 40%;
	color: #fff;
	background-image: linear-gradient(#8d98e3 40% , #854fee 60%);
	padding-left: 100px;
	box-sizing: border-box;
}

.logo h1{
	text-transform: uppercase;
	font-style: 1.6rem;
	animation: rotate 2s linear infinite;
	animation-direction: alternate;
}

@keyframes rotate{
	from {padding-left: 40px; }
	to {padding-right: 40px;}
}

nav{
	width: 60%;
	display: flex;
	justify-content: space-around;
}

nav a{
	text-decoration: none;
	text-transform: uppercase;
	color: #000;
	font-weight: 900;
	font-size: 17px;
	position: relative;
}

nav a:first-child{
	color: #4458dc;
}

nav a:before{
	content: "";
	position: absolute;
	top: 110%;
	left: 0;
	width: 0;
	height: 2px;
	border-bottom: 2px solid #4458dc;
	transition: all 0.4s linear;
}

nav a:hover:before{
	width: 100%;
}

main{
	height: 80vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.rightside img{
	max-width: 400px;
	height: auto;
	border-radius: 300px;
}

.rightside{
	border-radius: 78% 14% 61% 18% / 59% 12% 49% 14% ;
	background-color: powderblue;
}

.leftside{
	color: #000;
	text-transform: uppercase;
}

.leftside h3{
	font-size: 40px;
	margin-bottom: 20px;
	position: relative;
}

.leftside h3:before{
	content: "";
	width: 450px;
	height: 3px;
	position: absolute;
	top: 43%;
	left: 19.5%;
	background-color: #000;
}

.leftside h1{
	margin-top: 20px;
	font-size: 70px;
	margin-bottom: 25px;
}

.leftside h2{
	margin-bottom: 35px;
	font-weight: 500;
	word-spacing: 4px;
}

#btn1{
	text-decoration: none;
	font-weight: 900;
	font-size: 20px;
	text-transform: uppercase;
	padding: 12px 25px;
	cursor: pointer;
	text-align: center;
	border-radius: 5px;
	display: inline-block;
	margin-right: 50px;
	color: #fff;
	letter-spacing: 0;
	border: double 2px transparent;
	box-shadow: 0 10px 30px rgba(118,85,225,.3); 	
	background-image: linear-gradient(to right ,#4458dc 0%, #854fee 100%),radial-gradient(circle at top left ,#4458dc,#854fee);
}

#btn2{
	text-decoration: none;
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	padding: 12px 25px;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 5px;
	display: inline-block;
	margin-right: 50px;
	border: 2px solid #4458dc;
	color: #222;
	background-color: #fff;
	box-shadow: none;
}