.bgimage{
	background-image: url('../assets/bj.jpeg');
	background-attachment: fixed;
	background-size: 100% 100%;
	width: 100%;
	height: 750px;
}

.headerset{
	padding-top: 300px;
	box-sizing: border-box;
}

.headerset h1 {
	font-size: 62px;
	font-weight: bold;
}

.headerset h2 {
	font-weight: bold;
	font-size: 40px;
}

.rowSetting{
	margin: 80px 0px !important;
}

.ourservices{
	padding: 100px 0px 60px;
	height: 700px;
}

.ourservices h1{
	font-weight: bold;
	font-size: 50px;
}

.imgSetting{
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.fa-shopping-cart{
	margin-top: 23px
}

.fa-desktop{
	margin-top: 23px;
}

.fa-lock{
	margin-top: 23px;
}

.rowSetting p{
	padding: 10px;
	color: #6c757d !important;
}

.rowSetting h2{
	margin-top: 20px;
	font-weight: bold;
	font-size: 30px;
}

.portfolio{
	height: 1100px;
	width: 100%;
	padding: 100px 0px 50px;
}

.portfolio h4{
	font-size: 30px;
	font-weight: bold;
}

.card{
	margin-top: 40px;
}

.ourteam{
	padding: 100px 0px 50px;
	height: 70px;
	width: 100%;
}

.ourteam h1{
	font-weight: bold;
}

.teamSetting{
	margin-top: 50px !important;
}

.footer{
	height: 50px;
}

.footer h6{
	line-height: 800px;
}
