*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
html{
	scroll-behavior: smooth;
}
.navbar{
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	cursor: pointer;
}
.right-nav{
	width: 35%;
	text-align: right;
	padding: 0 20px;
	margin-bottom: 19px;
}
.right-nav input{
	margin-top: 15px;
}
#search{
	padding: 5px;
	font-size: 17px;
	border: 2px solid grey;
	border-radius: 9px;
}
.btn{
	padding: 6px 12px;
	font-size: 15px;
	border-radius: 5px;
	margin-right: 10px;
	background: none;
	color: white;
}
.nav-list{
	width: 70%;
	display: flex;
	align-items: center;
}
.logo img{
	border: 1px solid white;
    border-radius: 10px;
    width: 30%;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
}
.nav-list li{
	list-style: none;
	padding: 25px 35px;
}
.nav-list li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
}
.background{
	background: rgba(0,0,0,0.7) url('../assets/build.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	background-blend-mode: darken;
}
.main-box{
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	max-width: 50%;
	margin: auto;
	height: 75%;
}
.firstSection{
	height: 100vh;
}
.firstHalf{
	width: 80%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.secondHalf{
	width: 30%;
}
.secondHalf img{
	border: 2px solid white;
	border-radius: 150px;
	width: 70%;
	padding: 5px 0px;
	display: block;
	margin: auto;
}
.big-text{
	font-size: 37px;
	margin-bottom: 20px;
}
.small-text{
	font-size: 18px;
}
.btn1{
	padding: 8px 20px;
	margin: 7px 5px;
	border: 1px solid white;
	border-radius: 8px;
	font-size: 12px;
	background: none;
	color: white;
	cursor: pointer;
}
.btn2{
    padding: 8px 20px;
	margin: 7px 5px;
	border: 1px solid white;
	border-radius: 8px;
	font-size: 12px;
	background: none;
	color: white;
	cursor: pointer;
}
.section{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	max-width: 80%;
	margin: auto;
}
.section-left{
	flex-direction: row-reverse;
}
.paras{
	padding: 0px 65px;
}
.thumbnail img{
	border-radius: 24px;
    border: 1px solid black;
    margin-top: 20px;
}
.contact{
	background-color: lightgrey;
	height: 90vh;
	text-align: center;
}
.contact h2{
	padding-top: 20px;
}
.form input{
	width:65%;
	padding: 15px 0px;
	margin-top: 20px;
	border-radius: 8px;
	font-size: 15px;
	text-align: center;
	border-style: none;
	border:1px solid black;
}
.btn-dark{
	margin-top: 25px;
	padding: 12px 15px;
	border:1px solid white;
	font-size: 15px;
	background-color: dodgerblue;
	color: white;
	border-radius: 8px;
}
.form-description{
	width:65%;
	padding: 8px 0px;
	margin-top: 20px;
	border-radius: 8px;
	font-size: 15px;
	text-align: center;
	border-style: none;
	border:1px solid black;
}
.text-footer{
	text-align: center;
	margin-top: 20px;
	font-size: 13px;
	padding: 25px 11px;
	color: white;
}
footer{
	background-color: grey;
}
.line{
	width: 35px;
	background-color: white;
	height: 4px;
	margin: 3px 3px;
}
.burger{
	position: absolute;
	cursor: pointer;
	right: 5%;
	top: 15px;
	display: none;
}
/*.......media quries......*/

@media(max-width: 1250px){
	.nav-list{
	  flex-direction: column; 
    }
    .navbar{
    	flex-direction: column;
    	transition: all 0.3s ease-out;
    	height: 475px;
    }
    .right-nav {
    	text-align: center;
    }
    #search{
    	width: 100%;
    }
    .burger{
    	display: block;
    }
    .h-nav{
    	height: 72px;
    }
    .v-class{
    	opacity: 0;
    }
    .main-box{
    	flex-direction: column-reverse;
        max-width: 100%;
    }
    .section{
    	flex-direction: column-reverse;
    }
    .big-text{
    	text-align: center;
    }
    .small-text{
    	text-align: center;
    }
    .buttons{
    	text-align: center;
    }
}