*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Mulish', sans-serif;
}

a{
	color: white;
	text-decoration: none;
}

header{
	width: 100%;
	height: 100vh;
	background-color: #1a52f9;
	background-image: linear-gradient(19deg, #1a52f9 0%, #B721FF 84%);
	position: relative;
}

header:before{
	content: "";
    width: 520px;
    height: 550px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url(../assets/business.jpg);
    background-size: 100% 100%;
    border-radius: 150px;
    margin-left: -104px;
}

nav{
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
}

.logo a{
	color: white;
	text-decoration: none;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.menu ul li {
	list-style: none;
	display: inline-block;
	padding: 0 15px;
}

.menu ul li a {
	text-transform: capitalize;
}

.active, ul li:hover{
	border-top: 2px solid #5dade5;
	border-bottom: 2px solid #5dade5;
}

.contact a{
	background-color: #d465ef;
	padding: 12px 26px;
	font-style: 14px;
	font-weight: 500;
	border: 1px solid transparent;
	text-transform: capitalize; 
}

.contact a:hover{
	background:linear-gradient(to bottom, #615cfd 0%, #d465ef 100%);	
}

.contact_center{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
}

.contact_center h1{
	color: white;
	font-size: 70px;
	text-transform: capitalize;
	font-weight: 700;
	margin-bottom: 10px;
}

.contact_center h2{
	font-size: 25px;
	font-weight: 400;
	color: white;
	text-transform: capitalize;
}

.contact_center h2:before{
	content: "";
	width: 80px;
	height: auto;
	border: 2px solid white;
	position: absolute;
	left: 40px;
	bottom: 0;
	margin-bottom: 10px;
}

.social_networks{
	height: auto;
	width: 100px;
	position: absolute;
	right: 0;
	top: 40%;
}

.fa_icons{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background:linear-gradient(to bottom, #615cfd 0%, #d465ef 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.fa_icons:nth-child(even){
	margin: 20px 0;
}

.fa_icons:hover{
	background: linear-gradient(to bottom, #d465ef 0%, #615cfd 100%);
}

