@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root{
	--myfont: 'Mulish' , sans-serif;
	--my-btn-font: 'Montserrat' , sans-serif;
	--lg-lightcolor:linear-gradient(to left,rgba(116,235,213,0.6),rgba(159,172,230,0));
	--lg-color: linear-gradient(to left , #74ebd5, #9face6);
}

body{
	background-image: var(--lg-lightcolor), url('https://source.unsplash.com/user/erondu/1600x900');
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: var(--myfont);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;	
}

.container{
	background-color: white;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	overflow: hidden;
	max-width: 100%;
	width: calc(100vw - 65vw);
	box-shadow: 0 2.8px 2.2px rgba(0,0,0,0.034);
}

.header{
	background: var(--lg-color);
	padding: 30px 0;
}

.header h1{
	color: #222;
	font-family: var(--my-btn-font);
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}

.form .btn{
	background: var(--lg-color);
	border-radius: 6px;
	border: none;
	outline: none;
	color: white;
	display: block;
	font-family: var(--my-btn-font);
	font-size: 16px;
	padding: 15px 0;
	margin-top: 20px;
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	transition: all 1s ease;
	text-align:center;
}

.form .btn:hover{
	background: linear-gradient(to right, #74ebd5 , #9face6);
}

.form{
	padding: 40px;
}

.form-control{
	margin-bottom: 20px;
	position: relative;
}

.form-control label{
	display: inline-block;
	margin-bottom: 5px;
}

.form-control input{
	width: 100%;
	display: block;
	border: 2px solid #f0f0f0;
	border-radius: 6px;
	font-family: var(--myfont);
	font-size: 15px;
	padding: 13px;
}

.form-control input:focus{
	outline: 0;
	border-color: dodgerblue;
}

.form-control.success input{
	border-color: green;
}

.form-control.error input{
	border.color: red;
}

.form-control i{
	position: absolute;
	right: 12px;
	top: 38px;
	visibility: hidden;
}

.form-control.error small{
	visibility: visible;
}

.form-control small{
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.form-control.success i.fa-check-circle{
	color: green;
	visibility: visible;
}

.form-control.error i.fa-exclamation{
	color: red;
	visibility: visible;
}
@media(max-width: 998px)
{
	.container{
		width: calc(100vw , 35vw);
		max-width: 100%;
	}
}