@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet');

body{
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}
.navbar-brand{
	font-size: 35px;
	color: lightcoral !important;
}
.nav-link{
	font-size: 16px;
	margin: 15px;
	color: black !important;
}
.nav-link:hover{
	color: #00E8E8 !important;
}
.active .nav-link{
	color: #00E8E8 !important;
}
.menu-right-btn{
	padding: 13px 40px;
	margin-right: 4%;
	background-color: transparent;
	transition: all 300ms ease-in;
}
.menu-right-btn:hover{
	color: white;
	background-color: #00E8E8 !important;
}
.site-content{
	background-image: url('../assets/bossfood.jpg');
	background-attachment: fixed;
	background-size: cover;
}
.site-title,.site-desc{
	color: white;
}
.site-title{
	margin-top: 30%;
	margin-bottom: 6%;
	font-size: 50px;
}
.site-desc{
	font-size: 14px;
	padding-left: 15%;
}
.site-btn1{
	margin-left: 20%;
	background-color: black;
	color: white;
}
.site-btn2{
	background-color: white;
}
.site-btn1,.site-btn2{
	margin-top: 5%;
	margin-bottom: 50%;
}
/*.....section styling...*/

.section-1 .heading-1{
	margin-top: 6%;
}
.section-1 .heading-2{
	margin-bottom: 3%;
	font-size: 39px;
}
.section-1 .para-1{
     width: 60%;
     margin-left: 20%;
     margin-bottom: 3%;
}
.section-1 .card-text, .para-1{
	color: rgba(0,0,0,0.59);
}
.section-1{
	margin-bottom: 8%;
}
.card{
	width: 20rem;
}
/*......section2 styling....*/

.section-2 .container-fluid{
	background-image: url('../assets/bm7.jpg');
	background-size: cover;
	background-attachment: fixed;
}
.section-2 .heading-1{
    margin-top: 20%;
    margin-bottom: 4%;
    width: 80%;
    color: grey;
}
.section-2 .para{
	width: 80%;
	color: grey;
	margin-bottom: 7%;
}
.section-2 .btn{
	margin-bottom: 15%;
	width: 30%;
	padding: 2% 5%;
}

/*....section3 styling...*/

.section-3{
	margin-top: 7%;
}
.section-3 i{
	color: #00E8E8;
}
.section-3 p{
    color: rgba(0,0,0,0.59);
}

/*......section4......*/

.section-4{
	margin-top: 8%;
}
.section-4 .row .col-md-7, .col-md-5{
	margin-top: 10%;
	margin-bottom: 10%;
}
.section-4 a{
	color: lightseagreen;
	font-size: 40px;
	text-decoration: none;
}
.section-4 .para-1{
    color: white;
    margin-top: 7%;
    font-size: 23px;
}

/*...footer styling.....*/

.social i{
	color: #00E8E8;
	font-size: 30px;
	padding: 0px 12px
}

/*...media query section....*/

@media(max-width: 768px)
{
	.section-4 .col-md-7 img{
		width: 350px;
	}
	.section-1 .card{
		width: 14rem;
	}
}
@media(max-width: 320px)
{
	.site-content .site-title{
		font-size: 30px;
		padding-left: 15%;
	}
	.site-content .site-btn2{
		display: none;
	}
	.site-content .site-btn1{
		margin-left: 15%;
	}
	.section-1 .heading-1, .section-1 .heading-2{
		font-size: 25px;
	}
	.section-1 .col-md-4{
		padding: 5%;
		margin-left: 6%;
	}
	.section-1 .card{
		width: 15rem;
	}
	.section-4 .col-md-5{
		padding: 0% 15%;
	}
}