*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Castoro', serif;
font-family: 'Molengo', sans-serif;
}

header{
	width: 100%;
	height: 100vh;
	background-image: url('/assets/isi.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

nav{
	width: 100%;
	height: 15vh;
	background: rgba(0,0,0,0.2);
	color: white;
	justify-content: space-around;
	display: flex;
	align-items: center;
	text-transform: uppercase;
}

.logo{
	color: #fff;
	font-size: 15px;
}

.menu a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	padding: 20px;
	cursor: pointer;
}

.mainSection{
	width: 100%;
	color: white;
	text-align: center;
	position: relative;
	top: 30px;
}

.mainSection h3{
	font-size: 25px;
	margin-bottom: 10px;
}

.mainSection h1{
	font-size: 30px;
}

#btn1{
	text-decoration: none;
	color: white;
	font-weight: 900;
	text-transform: uppercase;
	padding: 12px 25px;
	border-radius: 5px;
	text-align: center;
	cursor: pointer;
	display: inline-block;
	margin-right: 50px;
	letter-spacing: 0;
	box-shadow: none;
	background-image: linear-gradient(to right , green 0%, #222 100%);
	position: relative;
	top: 370px;
}

#btn2{
	text-decoration: none;
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	padding: 12px 25px;
	cursor: pointer;
	text-transform: uppercase;
	border-radius: 5px;
	display: inline-block;
	margin-right: 50px;
	color: #fff;
	background-color: #fff;
	box-shadow: none;
	position: relative;
	top: 370px;	
	margin-left: 290px;
	background-image: linear-gradient(to right , green 0%, #222 100%);
}

.logo h2{
	animation: rotate 2s linear infinite;
	animation-direction: alternate;
}

@keyframes:rotate{
	from{
		padding-right: 40px;
	}
	to{
		padding-left: 40px;
	}
}
